@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* https://www.color-hex.com/color/6867af */

@theme {
  --font-sans: "Livvic", sans-serif;

  --color-primary: #6867af;
  --color-primary-30: #53528c;
  --color-primary-10: #48487a;
  --color-primary-90: #e0e0ef;
  --spacing-maxw: 1070px;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before {
  content: none;
}

.prose
  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: #efefef;
  border-inline-start-color: #cccccc;
  font-style: normal;
  border-radius: 6px;
  corner-shape: squircle;
}

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before {
  content: none;
}

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: none;
}

.prose img {
  border-radius: 6px;
  corner-shape: squircle;
}
