---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout title="enesb.im | Home">
  <h1 class="text-3xl font-bold mb-4">Welcome to my Blog</h1>
  <p class="text-gray-600">
    This is v0.1. Soon, there will be a list of posts here.
  </p>
</BaseLayout>
