---
import { Github, Instagram, Twitter } from "@lucide/astro";
---

<header
  class="py-4 px-6 bg-primary w-full flex items-center justify-center sticky top-0"
>
  <div
    class="max-w-[1070px] w-full flex flex-row items-center content-center text-white hover:underline"
  >
    <a href="/">Hello! I'm Enes aka @loeiks</a>

    <div class="ml-auto"></div>

    <div id="social-icons" class="flex items-center gap-2 flex-row text-white">
      <a href="https://twitter.com/loeiks_" target="_blank">
        <Twitter />
      </a>
      <a href="https://instagram.com/loeiks" target="_blank">
        <Instagram />
      </a>
      <a href="https://github.com/loeiks" target="_blank">
        <Github />
      </a>
    </div>
  </div>
</header>
