---
import Link from "~/components/html/Link.astro";
const { link } = Astro.props;
---

<div class="bg-primary-90 px-2 rounded-[6px]">
  <p>
    This post was originally posted here: <Link href={link} target="_blank"
      >{link}</Link
    >
  </p>
</div>
