---
import Header from "~/components/Header.astro";
import Sounds from "~/components/Sounds.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "I don't know what yo write here actually." } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAD0lEQVR4AQEEAPv/AGhnrwK5AX/zvz71AAAAAElFTkSuQmCC"
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Varta:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>

  <body
    class="text-gray-900 font-sans antialiased selection:bg-blue-200 grid grid-rows-[auto_1fr_auto] min-h-screen"
  >
    <Header />

    <div class="w-full flex justify-center">
      <main class="w-full max-w-[1070px]! py-6">
        <slot />
      </main>
    </div>

    <footer class="py-2 text-sm bg-primary-90 text-center">
      everything has an ending just like this page.
    </footer>

    <Sounds />
  </body>
</html>
